.autocomplete-block {
  position: absolute;
  width: 100%;
  min-height: 20px;
  background-color: white;
  display: none;
  border: solid 1px gray;
  border-top: none;
  z-index: 2;
}

.search-result {
  padding: 5px;
  &:hover {
    background-color: lightblue;
    cursor: pointer;
  }
}