.input-wrapper {
  width: 300px;
  margin-bottom: 1rem;
  position: relative;
}

.autocomplete-block {
  position: absolute;
  width: 100%;
  min-height: 20px;
  background-color: white;
  display: none;
  border: solid 1px gray;
  border-top: none;
}