.autocomplete-block {
  position: absolute;
  width: 100%;
  min-height: 20px;
  background-color: white;
  display: none;
  border: solid 1px gray;
  border-top: none;
  z-index: 2;
  max-height: 300px;
  overflow-y: auto;
}

.search-result {
  padding: 5px;
  &:hover {
    background-color: lightblue;
    cursor: pointer;
  }
}

@media screen and (max-width: 740px) and (orientation: portrait) {
  .search-result {
    padding: 15px 10px;
  }
}