input {
  padding: 5px 15px;
  font-size: 1.3rem;
  width: 100%;
  margin-top: 5px;
}

label {
  font-size: 1.2rem;
}

@media screen and (max-width: 740px) and (orientation: portrait) {
  input {
    padding: 10px 20px;
  }
}