html {
  font-size: 14px;
  font-family: sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.input-wrapper, .masked-wrapper {
  width: 300px;
  margin-bottom: 1rem;
  position: relative;
}

@import "autocomplete-block";
@import "input";
@import "masked-input";