html {
  font-size: 14px;
  font-family: sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.input-wrapper, .masked-wrapper, .buttons-wrapper {
  width: 400px;
  position: relative;
  margin: 0 auto 1rem;
}

.buttons-wrapper {
  text-align: center;
}

@import "autocomplete-block";
@import "input";
@import "masked-input";
@import "buttons";